.tag-item {
  margin-right: 10px;
}

.tag-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #f3aa4e;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background-color: #f3aa4e;
}
